[Unit]
Description=Simple Network Server with TCP Listener
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
EnvironmentFile=/etc/devops/myserver.conf
ExecStart=/usr/bin/myserver

[Install]
WantedBy=multi-user.target